
*{
    font-family: Consolas;
}


.container{
    padding-left: 5%;
}

.carta{
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagen{
    width: 75%;
    height: 75%;
    margin-right: 15%;
}

.informacion p{
    width: 55%;
    font-size: 20px;
}


.botton{
    border: none;
    width: 150px;
    height: 50px;
    background: black;
    color: white;
}

.informacion b{
    font-size: 49px;
  
}

@media screen and (min-width: 150px) and (max-width: 480px){
    .carta{
        width: 70%;
        height: 70%;
        display: block;
        align-items: center;
    }

    .imagen{
        width: 100%;
        height: 55%;
    }

    .botton{
        border: none;
        width: 100%;
        height: 50px;
        background: black;
        color: white;
    }

    .informacion b{
        font-size: 40px;
    }

    .informacion p{
        width: 100%;
        height: 80px;
        font-size: 18px;
    }
}


@media screen and (min-width: 480px) and (max-width: 1184px){
    .carta{
        width: 80%;
        height: 60%;
    }
    .informacion p{
        width: 70%;
        font-size: 18px;
    }

    .imagen{
        margin-right: 8%;
    }
}



